:root {
  --main-color: #2776f5;
  --main-color-dark: #052e70;
  --main-color-light: #bbd4fc;
  --compl: #f5a627;
  --compl-dark: #442b03;
  --compl-light: #fce3bb;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  text-align: center;
}

header > h1 {
  padding: 35px 0;
  font-size: 2.5em;
  color: var(--main-color);
}

form > input {
  font-size: 1.3em;
  padding: 5px 10px;
  background-color: transparent;
  color: whitesmoke;
  border: 3px solid var(--main-color-dark);
  border-radius: 15px;
  margin-bottom: 50px;
  width: 400px;
}

form > input:focus {
  border: 3px solid var(--main-color);
  outline: none;
}

main {
  width: 90%;
  background-color: var(--main-color);
  min-height: calc(100vh - 216px);
  border-radius: 15px;
  padding: 35px;
}

main > p {
  text-align: center;
  font-size: 2em;
  padding-top: 35px;
  color: black;
  font-weight: 600;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 25px;
  justify-content: space-evenly;
}

.movie-container {
  text-align: center;
  background-color: black;
  width: 200px;
  border-radius: 15px;
  height: 326px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px 1px black;
  cursor: pointer;
}

.movie-container > img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.movie-container > p {
  padding-bottom: 10px;
}

/* Loader */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #000000;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
  margin: 35px auto 0 auto;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
